
<script src="https://cdn.tailwindcss.com"></script>
<div class="min-h-screen flex items-center justify-center bg-slate-950 text-white">
    <form method="post" class="bg-slate-900 p-10 rounded-xl w-96">
        <h2 class="text-xl mb-6">Add Grades</h2>
        <input name="roll" placeholder="Roll" class="w-full p-3 mb-4 bg-slate-800 rounded">
        <input name="subject" placeholder="Subject" class="w-full p-3 mb-4 bg-slate-800 rounded">
        <input name="grade" placeholder="Grade" class="w-full p-3 mb-4 bg-slate-800 rounded">
        <button class="bg-blue-600 w-full p-3 rounded">Save</button>
    </form>
</div>
